.all:hover{
    background-color: red;
    color: white
}

.Portfolioo{
    margin-top: 100px;
    margin-bottom: 80px !important;
}
.divider-left{
    background-color: black !important;
    height: 3px !important;
    border-radius: 2px;
    width: 70px;
}
.divider-third{
    background-color: red !important;
    height: 3px !important;
    border-radius: 2px;
    width: 70px;
    transform: skewY(1deg);
}

/* @media screen and (min-width: 320px){
    .buy-now{
        padding-right: 0px;
        padding-left: 0px;
    }
} */

.buy-now{
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}
.btn-1{
    border-color: white !important;
    margin-top: 25px;
    margin-bottom: 35px;
}

.Pricing-1{
    background-color:black;
    transform: skewy(-3deg);
    padding-bottom: 80px;
    padding-top: 40px;
}
.Team{
    background-color:black;
    transform: skewy(-3deg);
    padding-bottom: 80px;
    padding-top: 40px;
}

.background{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}

.skew-3{
    transform: skewy(1deg)
}

.skew-1{
    transform: skewY(2deg);
}

.skew-2{
    transform: skewY(1deg);
}

.pad{
    /* padding-left: 80px !important; */
    font-style: italic;
    font-size: 17px;
    padding-top: 10px;
}

.Team{
    transform: skewY(-3deg);
}

.team-1{
    transform: skewY(3deg);
}

.team-2{
    transform: skewY(3deg);
}

.team-3{
    transform: skewY(3deg);
}
.divider-lefty{
    background-color: red !important;
    height: 3px !important;
    border-radius: 2px;
    width: 70px;
    transform: skewY(3deg);
}
.divide{
    background-color: red !important;
    height: 3px !important;
    border-radius: 2px;
    width: 70px;
}

.color{
    color: rgb(158, 153, 153);
}

.send{
    border-radius:3px !important;
}

.accordion-button:hover{
    color:rgb(221, 18, 18);
}

.accordion-button{
    font-size: 19px !important;
}

.accordion-body{
    font-size: 18px !important;    
}

.shadoww{
    box-shadow: 1px 1px 10px;
}

.listi{
    list-style-type: none !important;
    text-decoration: none !important;
    color: white !important;
    padding-left: 5px !important;
}

.listin{
    list-style-type: none !important;
    text-decoration: none !important;
    color: rgb(179, 175, 175) !important;
    padding-left: 5px !important;
    line-height: 40px;
}

.listin:hover{
    color: white !important;
}

.design{
    color: rgb(196, 10, 10);
    text-decoration: none;
}

.last-footer{
    background-color: rgb(0, 0, 0);
}

.bx{
    color: rgb(253, 230, 230);
    font-size: 20px;
}

.box{
    border-radius: 15px !important;
}

.boxx{
    border-radius: 5px !important;
    min-height: auto;
}

/* @media screen and (max-width:600px){
    .boxx{
        width: 120px;
        height: 120px;
    }
} */



.socials{
    background-color: rgb(36, 35, 35) !important;
    margin-left: 6px;
    border: none;
}

.socials:hover{
    background-color: rgb(214, 52, 52) !important;
    border: none;
}

.footer{
    background-color: rgb(14, 13, 13);
}